
{dialyzer, [
    {warnings, [
        % Warnings for function calls which ignore a structured return value or
        % do not match against one of many possible return values.
        unmatched_returns,

        % Warnings for functions that only return by means of an exception.
        error_handling,

        % Warnings for possible race conditions. Note that the analysis that
        % finds  data  races performs intra-procedural data flow analysis and
        % can sometimes explode in time.
        race_conditions,

        % Let warnings about unknown functions and types affect the exit status
        % of the command line version.
        unknown
    ]}
]}.

% Options for the Erlang compiler.
{erl_opts, [
    % Enable debug_info to use a debugger.
    % Before doing this, consider having better unit tests!
    %debug_info,

    % Directories to find Erlang include files (*.hrl)
    %{i, "src"},

    % DO NOT DISABLE THIS. If you get a warning, it means you are doing something wrong.
    warnings_as_errors
]}.

{eunit_opts, [
    % Enable this to see the name of each test case printed.
    %verbose
]}.

% Enable code coverage and generating the HTML details.
{cover_enabled, true}.

% Enable printing the coverage summary at the end of the build.
{cover_print_enabled, true}.